# macOS
.DS_Store

# IDE Config
.vscode
.idea

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/scratch*

# Ignore Byebug command history file.
.byebug_history

# Configuration files
.powenv
.env
.env.*
!.env.example
