version: 2.1

executors:
  rails_executor:
    working_directory: ~/web-monitoring-db
    docker:
      - image: cimg/ruby:3.1.2-node
        environment:
          RAILS_ENV: test
          RACK_ENV: test
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: root
          HOST_URL: 'web-monitoring-db.test'
          ALLOWED_ARCHIVE_HOSTS: 'https://edgi-wm-archive.s3.amazonaws.com/ https://edgi-wm-versionista.s3.amazonaws.com/ https://test-bucket.s3.amazonaws.com/'
      - image: circleci/postgres:9.5-alpine-ram
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle-test_test

commands:
  setup_bundler:
    description: "Set up Bundler dependencies"
    steps:
      - run:
          name: Install bundler with appropriate version
          command: gem install bundler -v $(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -1 | tr -d " ")
      # - restore_cache:
      #     keys:
      #       - v3-bundler-{{ arch }}-{{ checksum "Gemfile.lock" }}
      #       - v3-bundler-{{ arch }}-
      - run: |
          bundle config path vendor/bundle
          bundle config frozen true
          bundle install
          echo '======== CLEANING PLAN ========='
          bundle clean --dry-run
          echo '======== CLEANING ========='
          bundle clean
      # - save_cache:
      #     key: v3-bundler-{{ arch }}-{{ checksum "Gemfile.lock" }}
      #     paths:
      #       - ~/.bundle
      #       - ./vendor/bundle

jobs:
  install_dependencies:
    executor: rails_executor
    steps:
      - checkout
      - setup_bundler

  build:
    executor: rails_executor
    steps:
      - checkout
      - setup_bundler
      - run:
          name: Setup Database
          command: bin/rails db:create db:schema:load
      - run:
          name: Tests
          command: bin/rails test:system test
      - run:
          name: Code linting
          command: bundle exec rubocop --parallel

  test_seed:
    executor: rails_executor
    steps:
      - checkout
      - setup_bundler
      - run:
          name: Setup Database
          command: bin/rails db:create db:schema:load
      - run:
          name: Test seeds setup
          command: bin/rails db:seed

  publish_docker:
    machine:
      image: ubuntu-2004:202111-02
    steps:
      - checkout
      - run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: |
          docker build --target rails-server -t envirodgi/db-rails-server:$CIRCLE_SHA1 .
          docker image tag envirodgi/db-rails-server:$CIRCLE_SHA1 envirodgi/db-rails-server:latest
      - run: |
          docker build --target import-worker -t envirodgi/db-import-worker:$CIRCLE_SHA1 .
          docker image tag envirodgi/db-import-worker:$CIRCLE_SHA1 envirodgi/db-import-worker:latest
      - run: |
          docker build --target status-update-job -t envirodgi/db-status-update-job:$CIRCLE_SHA1 .
          docker image tag envirodgi/db-status-update-job:$CIRCLE_SHA1 envirodgi/db-status-update-job:latest
      - run: |
          docker push envirodgi/db-rails-server:$CIRCLE_SHA1
          docker push envirodgi/db-rails-server:latest
          docker push envirodgi/db-import-worker:$CIRCLE_SHA1
          docker push envirodgi/db-import-worker:latest
          docker push envirodgi/db-status-update-job:$CIRCLE_SHA1
          docker push envirodgi/db-status-update-job:latest

workflows:
  version: 2.1
  build:
    jobs:
      - install_dependencies:
          filters:
            branches:
              ignore: release
      - build:
          requires:
            - install_dependencies
          filters:
            branches:
              ignore: release
      - test_seed:
          requires:
            - install_dependencies
          filters:
            branches:
              ignore: release

  build-and-publish:
    jobs:
      - build:
          filters:
            branches:
              only:
                - release
      - publish_docker:
          requires:
            - build
