version: 2.1
jobs:
  build:
    working_directory: ~/web-monitoring-db
    docker:
      - image: circleci/ruby:2.6.3-node
        environment:
          RAILS_ENV: test
          RACK_ENV: test
          PGHOST: 127.0.0.1
          PGUSER: root
          HOST_URL: 'web-monitoring-db.test'
          ALLOWED_ARCHIVE_HOSTS: 'https://edgi-wm-versionista.s3.amazonaws.com/ https://edgi-versionista-archive.s3.amazonaws.com/ https://test-bucket.s3.amazonaws.com/'
      - image: circleci/postgres:9.5-alpine-ram
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle-test_test
    steps:
      - checkout
      - restore_cache:
          key: web-monitoring-db-{{ arch }}-{{ checksum "Gemfile.lock" }}

      # Bundle install dependencies
      - run:
          name: Install Dependencies
          command: |
            gem install bundler
            bundle install --path vendor/bundle

      # Store bundle cache
      - save_cache:
          key: web-monitoring-db-{{ arch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      # Database setup
      - run:
          name: Setup Database Setup
          command: |
            bundle exec rake db:create
            bundle exec rake db:schema:load
      - run:
          name: Tests
          command: bin/rails test:system test
      - run:
          name: Code linting
          command: bundle exec rubocop

  publish_docker:
    machine: true
    steps:
      - checkout
      - run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: |
          docker build --target rails-server -t envirodgi/db-rails-server:$CIRCLE_SHA1 .
          docker image tag envirodgi/db-rails-server:$CIRCLE_SHA1 envirodgi/db-rails-server:latest
      - run: |
          docker build --target import-worker -t envirodgi/db-import-worker:$CIRCLE_SHA1 .
          docker image tag envirodgi/db-import-worker:$CIRCLE_SHA1 envirodgi/db-import-worker:latest
      - run: |
          docker build --target status-update-job -t envirodgi/db-status-update-job:$CIRCLE_SHA1 .
          docker image tag envirodgi/db-status-update-job:$CIRCLE_SHA1 envirodgi/db-status-update-job:latest
      - run: |
          docker push envirodgi/db-rails-server:$CIRCLE_SHA1
          docker push envirodgi/db-rails-server:latest
          docker push envirodgi/db-import-worker:$CIRCLE_SHA1
          docker push envirodgi/db-import-worker:latest
          docker push envirodgi/db-status-update-job:$CIRCLE_SHA1
          docker push envirodgi/db-status-update-job:latest

workflows:
  version: 2.1
  build:
    jobs:
      - build:
          filters:
            branches:
              ignore: release

  build-and-publish:
    jobs:
      - build:
          filters:
            branches:
              only:
                - release
      - publish_docker:
          requires:
            - build
