<p>
  Thank you for signing up to test our website monitoring software, Scanner!
</p>
<p>
  Scanner is currently a work in progress and we'd like to be upfront about various limitations and concerns that we have.
</p>
<p>
  Primarily, we're concerned about erroneous interpretation of changes to webpages that may propagate through social media, news media, or the public more widely. We have seen this happen many times through our work monitoring changes to environmental, climate, and energy websites: <%= link_to "https://envirodatagov.org/website-monitoring", "https://envirodatagov.org/website-monitoring" %>
</p>
  In the past, people have jumped to conclusions from the changes they see on monitored web sites, assuming data is removed based on a single missing link or a temporary bug on a government web server. The changes you see in Scanner are a great jumping-off point for further research, but remember they are not the whole story, especially if those changes are extremely recent.
</p>
<p>
  Scanner may present certain changes wrongly or mislead users in ways that we cannot yet predict or anticipate. We are working to understand these limitations, but for this reason, we are being careful about who gets access to our platform early on. In the long term, we would love for Scanner to be a public platform for all to use, but we'd like to think about harms and impacts carefully before a public release.
</p>
<p>
  Please do not disseminate information about Scanner or share credentials for Scanner. We'd love for you to check it out and give us feedback in any form that you see fit. You can also follow along with our software development work on GitHub: <%= link_to "https://github.com/edgi-govdata-archiving/web-monitoring", "https://github.com/edgi-govdata-archiving/web-monitoring" %> or chat with us on Slack: <%= link_to "https://archivers-slack.herokuapp.com/", "https://archivers-slack.herokuapp.com/" %>
</p>
<p>
  To set up your account, point your web browser to:
</p>
<p>
  <%= link_to @url, @url %>
</p>
