<% content_for(:extra_css) do %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
  <%= stylesheet_link_tag('home', media: 'all') %>
<% end %>

<div id="auth-notice">
  <p>
    <strong>AUTHENTICATION:</strong> All endpoints currently require authenication.
    We plan to make some endpoints public in the future, but the timeline is not yet known.
  </p>
  <p>
    You can authenticate a request by providing an e-mail and password with <strong>HTTP Basic authentication</strong> or, if you are authorizing a session on behalf of a user, exchanging an e-mail and password for a session token by POSTing a JSON object that matches the following structure to <code>/users/sign_in</code>:
  </p>
  <pre class="code-block">{
  "user": {
    "email": "someone@example.com",
    "password": "someones_password"
  }
}</pre>
  <p>
    Make sure to set the <code>Accept</code> HTTP header to <code>application/json</code>.
    The token will be the <code>token</code> property in the response JSON.
  </p>
</div>

<div id="swagger-ui"></div>

<script src="<%= asset_path('home.js') %>"></script>
<script>
  window.onload = function() {
    // Build a system
    const ui = SwaggerUIBundle({
      url: '<%= asset_path('swagger.yml') %>',
      validatorUrl: '',
      dom_id: '#swagger-ui',
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ],
      plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
      ],
      layout: "StandaloneLayout",
      deepLinking: true
    })

    window.ui = ui
  }
</script>
