<% content_for(:extra_css) do %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
  <%= stylesheet_link_tag('home', media: 'all') %>
<% end %>

<p>All endpoints currently require authenication.
We plan to make some endpoints public in the future, but the timeline is not yet known.</p>

<div id="swagger-ui"></div>

<script src="<%= asset_path('home.js') %>"></script>
<script>
  window.onload = function() {
    // Build a system
    const ui = SwaggerUIBundle({
      url: '<%= asset_path('swagger.yml') %>',
      validatorUrl: '',
      dom_id: '#swagger-ui',
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ],
      plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
      ],
      layout: "StandaloneLayout"
    })

    window.ui = ui
  }
</script>
