<% content_for(:extra_css) do %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
  <%= stylesheet_link_tag('home', media: 'all') %>
<% end %>

<div id="auth-notice">
  <p>
    <strong>AUTHENTICATION:</strong> All GET endpoints can be accessed without
    authentication, but some parameters (which might cause complex or
    time-consuming queries) require authentication, as well as all
    POST/PATCH/DELETE endpoints that change data.
  </p>
  <p>
    You can authenticate a request in 2 ways:
  </p>
  <ol>
    <li>
      By providing an e-mail and password with <strong>HTTP Basic
      authentication</strong> or
    </li>
    <li>
      Including a session token in the <code>Authorization</code> header with
      the value <code>Bearer: &lt;token&gt;</code>. Use this if you are
      authorizing a session on behalf of a user. You can obtain a session
      token at <code>/users/sign_in</code>; See the
      <a href="#operations-tag-authentication">authentication section</a>
      below for details.
    </li>
  <ol>
</div>

<div id="swagger-ui"></div>

<script src="<%= asset_path('home.js') %>"></script>
<script>
  window.onload = function() {
    // Build a system
    const ui = SwaggerUIBundle({
      url: '<%= asset_path('swagger.yml') %>',
      validatorUrl: '',
      dom_id: '#swagger-ui',
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ],
      plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
      ],
      layout: "StandaloneLayout",
      deepLinking: true
    })

    window.ui = ui
  }
</script>
