/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require admin
 *= require pages
 *= require_self
 */

html, body {
  margin: 0;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.page-header {
}

.page-header-main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #ddd;
  border-bottom: 1px solid #bbb;
}

.page-header-main > * {
  margin: 0;
  padding: 0.5em;
}

.flash .notice {
  padding: 0.5em;
  background: #dff0d8;
  border-bottom: 1px solid #b2d2a5;
}

.flash .alert {
  padding: 0.5em;
  background: #f2dede;
  border-bottom: 1px solid #a94442;
}

.page-content {
  padding: 1em;
}
