.full-listing {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  
  th, td {
    padding: 0.25em;
    vertical-align: top;
  }
  
  th {
    text-align: left;
    border-bottom: 2px solid #999;
  }
  
  td {
    border: 1px solid #ddd;
  }
}

.collapsible-column {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}