on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Message'
        type: string
        required: true

name: Trigger New Release

jobs:
  # CircleCI currently builds the release; all this does is push a merge commit
  # to the `release` branch (which triggers Circle to build and publish).
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 0

      - name: Update release branch
        run: |
          git config user.name 'GH Actions Bot'
          git config user.email 'actions.bot@example.com'

          git fetch origin main
          git fetch origin release
          git checkout release
          git pull
          git merge main -m '${{ inputs.message }}'
          git push
